@import './fonts.css';
.calculator {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .heading {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
  }
  
  .checkbox {
    margin-right: 5px;
  }
  
  .totalCost {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .totalAmount {
    color: #007bff;
    margin-left: 5px;
  }
  .submitButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .submitButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }  