.mapContainer {
  height: 600px;
  width: 100%;
    border-radius: 8px; /* Скругленные углы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); /* Тень для контейнера карты */
  }
  
  .leaflet-container {
    background-color: #f5f5f5; /* Светлый фон для карты */
  }
  
  /* Стили для кругов */
  .leaflet-circle-marker {
    fill-opacity: 0.5; /* Немного прозрачности */
  }
  
  /* Стилизация всплывающих окон */
  .leaflet-popup-content-wrapper {
    border-radius: 8px; /* Скругленные углы для всплывающего окна */
    font-family: 'Arial', sans-serif; /* Современный шрифт */
  }
  
  .leaflet-popup-content {
    color: #333; /* Темно-серый текст */
    font-size: 0.875rem; /* Размер шрифта */
  }
  
  .leaflet-popup-tip-container {
    display: none; /* Убрать треугольный указатель, если он не нужен */
  }
  
  /* Стили для маркеров, если вы используете кастомные */
  .leaflet-marker-icon {
    border-radius: 50%; /* Круглая форма иконки */
    border: 2px solid #fff; /* Белая граница вокруг иконки */
  }
  
  /* Убедитесь, что ваш CSS соответствует вашей разметке и классам, которые вы используете */
  .compareItem {
    background-color: white; /* Фон карточки */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Тень */
    border-radius: 10px; /* Закругленные углы */
    padding: 20px; /* Внутренний отступ */
    margin: 10px; /* Внешний отступ */
    transition: transform 0.3s; /* Плавное преобразование при наведении */
  }
  .compareContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px; /* Расстояние между карточками */
  }
  .compareItem:hover {
    transform: scale(1.05); /* Увеличение карточки при наведении */
  }
  .compareItem button {
    background-color: #007bff; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .compareItem button:hover {
    background-color: #0056b3; /* Цвет фона кнопки при наведении */
  }